/* Force the Heroicons to be tiny */
svg {
  display: inline-block;
  vertical-align: middle;
}

.h-4 {
  height: 1rem !important; /* 16px */
}

.w-4 {
  width: 1rem !important; /* 16px */
}

/* Ensure the input text doesn't overlap the icon */
input {
  padding-left: 2.5rem !important;
}